    /* Stile generale della navbar */
        header {
            background-color: #CE1126;
        }

        .navbar-toggler-icon {
            width: 1.5em;
            height: 1.5em;
            filter: invert(1) grayscale(100%) brightness(200%);
        }

        .navbar-brand img {
            height: 60px;
        }

        #offcanvasNavbar {
            background-color: #6B0808;
            width: 75%;
        }

        .offcanvas-body .navbar-nav {
            font-size: 30px;
        }

        /* Footer */
        .footer {
            background-color: #CE1126;
        }

        /* Sparizione logo all'apertura menu */
        .navbar-toggler[aria-expanded="true"]~.navbar-brand {
            display: none !important;
        }

        .title-custom {
            color: black;
            font-size: 30px;
        }

        .label-custom {
            width: 30%;
        }

        .input-custom {
            width: 65%;
            border: 2px solid #6B0808;
            border-radius: 20px;
            padding-left: 15px;
        }

        .btn-login {
            width: 35%;
        }

        .btn-large {
            width: 65%;
        }

        .btn{
            background-color: #6B0808;
            border-radius: 20px;
        }